@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import './css/vars.css';
@import './css/reset.css';
@import './css/animate-bg.css';

body {
  font-family: 'Exo', sans-serif;
  margin: 0;
}

.primary-title {
  margin-bottom: 20px;
  font-size: 44px;
  color: var(--primary-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .primary-title {
    font-size: 60px;
  }
}

.auth {
  margin-top: 20vh;
}

.auth-link {
  display: block;
  text-align: center;

  font-size: 14px;
  color: var(--primary-color);
}
