.list {
  max-width: 400px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.deleteBtn {
  padding: 6px 6px;
  background-color: var(--accent-color);
  border-radius: 10px;
  color: var(--primary-color);
  line-height: 100%;
  cursor: pointer;
  transition: background-color 300ms;
}

.deleteBtn:hover {
  background-color: var(--hover-color);
}

.loading {
  width: 100px;
  margin: 0 auto;
}
